/* Reset default browser styles */
        body {
            font-family: Arial, sans-serif;
            background-color: #222;
            margin: 0;
            padding: 0;
        }

        .header {
            background-color: #333;
            color: #fff;
            padding: 25px;
            text-align: center;
        }

        .header h1 {
        }

        nav {
            margin: 20px;
        }

        .header-link {
            color: #fff;
            text-decoration: none;
            margin: 100px;
        }

        .header-link:hover {
            text-decoration: bold;
            color: #1ff;
        }

        .staff-list {
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .staff-member {
            width: calc(33.33% - 10px);
            margin-bottom: 20px;
            padding: 25px;
            background-color: #999;
            border: 3px solid #888;
            border-radius: 25px;
            box-sizing: border-box;
            text-align: center;
        }

        .staff-member img {
            width: 50px;
            height: 50px;
            margin-bottom: 5px;
        }

        .staff-member h4 {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .staff-member p {
            margin-bottom: 5px;
        }

        /* Different colors for different roles */
        .owners { color: red; } /* Red */
        .dev { color: gold; } /* Red */
        .retiredowner { color: aqua; } /* Red */
        .builders { color: yellow; } /* Red */
        .reporter { color: green; } /* Green */
        .op { color: aqua; } /* Blue */
        .buildhelp { color: yellow; } /* Yellow */
        .misc { color: yellow; } /* Yellow */


